<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Node.js" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode>
      <!-- Enable ES Modules -->
      <nodeProcessCommandLine>node --experimental-modules</nodeProcessCommandLine>
      <maxNamedPipeConnection 1 />
    </iisnode>
  </system.webServer>
</configuration>
